{% extends "base.html" %}
{% load static %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <main role="main">
      {% for article in articles %}
        <div class="jumbotron">
          <div class="container">
            <h1 class="display-4">{{ article.title }}</h1>
            <p>{{ article.content }}</p>
          </div>
        </div>
        {% if article.products %}
            <div class="container mb-5">
            <!-- Example row of columns -->
            <div class="row">
                {% for product in article.products.all %}
                    <div class="col-md-4">
                      <h2>{{ product }}</h2>
                      <a href="{{ product.get_absolut_url }}">
                          <img src="{{ product.image.url }}" width="180">
                      </a>
                      <p>Стоимость: {{ product.price }} руб.</p>
                    </div>
                {% endfor %}
        {% endif %}
      {% endfor %}

    </main>
{% endblock %}
