{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %}
    Category
{% endblock %}

{% block content %}
  <main role="main">
  <div class="container">
    <h1>{{ category.name }}</h1>
    {% if products %}
      <div class="row">
          {% for product in products %}
            <div class="col-md-4">
              <a style="color:#343a40; text-decoration:none" href="{% url 'store:product_detail' product.id %}">
                <h3 style="height:2.7em">{{ product }}</h3>
                {% thumbnail product.image 'x250' as im %}
                  <img src="{{ im.url }}" class="image-detail">
                {% endthumbnail %}
              </a>
              <p style="margin-top:20px">Стоимость: {{ product.price }} руб.</p>
              <form action="{% url 'cart:cart_add' product.id %}" method="post">
                {% csrf_token %}
                {{ cart_product_form }}
                <input type="submit" class="btn btn-secondary" value="Добавить в корзину">
              </form>
            </div>
          {% endfor %}
      </div>
      <br>
      <br>
      <br>
      {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">Назад</a>
                {% endif %}
                <span class="page-current">
                    Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Следующая</a>
                {% endif %}
            </span>
        </div>
      {% endif %}
    {% else %}
      <p>В этом разделе пока ничего нет!!! :(</p>
    {% endif %}
  </div>
</main>
{% endblock %}