{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %}
    Your shopping cart
{% endblock %}

{% block content %}
<main role="main">
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-12">
        <h3 style="color:#343a40; height:2.0em">{{ product }}</h3>
        {% thumbnail product.image 'x250' as im %}
          <img src="{{ im.url }}" class="image-detail">
        {% endthumbnail %}
        <p style="margin-top:20px">{{ product.description }}</p>
        <p class="price" style="margin-top:20px">Стоимость: {{ product.price }} руб.</p>
        <form action="{% url 'cart:cart_add' product.id %}" method="post">
            {% csrf_token %}
            {{ cart_product_form }}
            <input type="submit" class="btn btn-secondary" value="Добавить в корзину">
        </form>
      </div>
    </div>
    <hr>
    {% for fb in feedbacks %}
        {% if fb.rating == 5 %}
            ★★★★★ <span>{{ fb.name }}</span>
        {% elif fb.rating == 4 %}
            ★★★★ <span>{{ fb.name }}</span>
        {% elif fb.rating == 3 %}
            ★★★ <span>{{ fb.name }}</span>
        {% elif fb.rating == 2 %}
            ★★ <span>{{ fb.name }}</span>
        {% elif fb.rating == 1 %}
            ★ <span>{{ fb.name }}</span>
        {% endif %}
        <p>{{ fb.text }}</p>
    {% endfor %}
    <hr>
    {% if not is_review_exist %}
      <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12">
          <h4>Оставьте отзыв:</h4>
            <form action="" method="POST">
              {% csrf_token %}
              <table>
                {% if form.non_field_errors %}
                  <ul>
                    {% for error in form.non_field_errors %}
                    <li><em>{{ error|escape }}</em></em></li>
                    {% endfor %}
                  </ul>
                {% endif %}
                <p>{{ form.name.label_tag }}<br>{{ form.name }}
                {{ form.name.help_text }}</p>
                <p>{{ form.text.label_tag }}<br>{{ form.text }}
                {{ form.text.help_text }}</p>
                <p>{{ form.rating.label_tag }}<br>{{ form.rating }}
                {{ form.rating.help_text }}</p>
              </table>
              <input type="submit" value="Добавить отзыв">
            </form>
      </div>
    {% endif %}
    </div>
  </div>
</main>
{% endblock %}
