{% extends "base.html" %}
{% load static %}

{% block title %}
    Your shopping cart
{% endblock %}

{% block content %}
<main role="main">

  <div class="container mt-3">
    <div class="row">
      <div class="col-md-12">
        <br>
        <h2>{{ product }}</h2>

        <img src="{{ product.image.url }}" width="120">

        <p>{{ product.description }}</p>
        <p>Стоимость: {{ product.price }} руб.</p>
        <form method="post" action="./cart/">
          <input type="hidden" name="csrfmiddlewaretoken"
                 value="N4vcBqzjoYkU7OTDuAT8hq8srpvYX44nJsswuP7e3EYg0Hq8DgxuR0eiXWbSr5RZ">
          <input type="hidden" name="merchandise_id" value="1">
          <input type="submit" class="btn btn-secondary" value="Добавить в корзину »">
        </form>
      </div>
    </div>
    <hr>
    {% for fb in feedbacks %}
        {% if fb.rating == 5 %}
            ★★★★★ <span>{{ fb.name }}</span>
        {% elif fb.rating == 4 %}
            ★★★★ <span>{{ fb.name }}</span>
        {% elif fb.rating == 3 %}
            ★★★ <span>{{ fb.name }}</span>
        {% elif fb.rating == 2 %}
            ★★ <span>{{ fb.name }}</span>
        {% elif fb.rating == 1 %}
            ★ <span>{{ fb.name }}</span>
        {% endif %}
        <p>{{ fb.text }}</p>
    {% endfor %}

    <hr>

    <div class="row">
      <div class="col-lg-6 col-md-8 col-sm-12">
        <h4>Оставьте отзыв:</h4>


        <form action="" method="POST">
          {% csrf_token %}
          <table>
            {% if form.non_field_errors %}
            <ul>
              {% for error in form.non_field_errors %}
              <li><em>{{ error|escape }}</em></em></li>
              {% endfor %}
            </ul>
            {% endif %}
            <p>{{ form.name.label_tag }}<br>{{ form.name }}
            {{ form.name.help_text }}</p>
            <p>{{ form.text.label_tag }}<br>{{ form.text }}
            {{ form.text.help_text }}</p>
            <p>{{ form.rating.label_tag }}<br>{{ form.rating }}
            {{ form.rating.help_text }}</p>

          </table>
          <input type="submit" value="Добавить отзыв">
        </form>

      </div>
    </div>

  </div>


</main>


{% endblock %}